*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: gray;
    background-repeat: no-repeat;
}
.cont{
    text-align: center;
    margin-top: 120px;
    color: antiquewhite;
}
.cont img{
    display: block;
    margin: auto;
    width: 200px;
}
.cont #btnOn, #btnOff{
    width: 100px;
    cursor: pointer;
}
#btnOff{
    display: block;
}
#btnOn{
    display: none;
}