*{
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background-color: darkkhaki;
}
.header{
	text-align: center;
	background-color: wheat;
	border: 5px solid rgb(81, 79, 50);
	border-radius: 5px;
}
.header h1{
	color: red;
	background-image: linear-gradient(yellow,green,blue);
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: 5px solid  rgb(81, 79, 50);
	border-radius: 10px;
	animation: logo 1s infinite;
}
@keyframes logo {
	0%{
		background-image: linear-gradient(yellow,green,blue);
	}
	25%{
		background-image: linear-gradient(blue,yellow,green);
	}
	50%{
		background-image: linear-gradient(green,blue,yellow);
	}
}
.frm{
	margin-top:10px ;
	border: 5px solid rgb(81, 79, 50);
	white-space: pre;
	padding: 5px;
	border-radius: 10px;
	background-color: wheat;
}
.frm #inpbx{
	display: block;
	font-size: 2em;
	margin-bottom: 20px;
	text-align: center;
	border: 5px solid rgb(81, 79, 50);
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.5s;
}
.frm #inpbx:focus{
	background-color: lightcyan;
	border: 10px solid gold ;
	box-shadow: 0 0 20px goldenrod;
}
.frm #subbtn{
	display: block;
	font-size: 1.5em;
	padding: 10px;
	font-weight: 900;
	background-color: green;
	color: antiquewhite;
	border: 5px solid goldenrod;
	border-radius: 10px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.5s;
}
.frm #subbtn:hover{
	box-shadow: 0 0  25px goldenrod;
}
#resultWin{
	margin-top: 10px;
	display: none;
	background-image: linear-gradient(red,orange,yellow,green,blue,indigo,violet);
	padding: 10px;
	border-top: 5px solid green;
	animation: rainbow 2s  infinite;
}
@keyframes rainbow {
	 0%{
        background-image: linear-gradient(orange,yellow,green,blue,indigo,violet,red);
    }
    10%{
        background-image: linear-gradient(yellow,green,blue,indigo,violet,red,orange);
    }
    30%{
        background-image: linear-gradient(green,blue,indigo,violet,red,orange,yellow);
    }
    40%{
        background-image: linear-gradient(blue,indigo,violet,red,orange,yellow,green);
    }
    60%{
        background-image: linear-gradient(indigo,violet,red,orange,yellow,green,blue);
    }
    75%{
        background-image: linear-gradient(violet,red,orange,yellow,green,blue,indigo);
    }
    100%{
        background-image: linear-gradient(red,orange,yellow,green,blue,indigo,violet);
    }
}
#resultWin img{
	width: 500px;
	display: block;
	margin: auto;
}
#resultWin h1{
	text-align: center;
}
#resultpar{
	display: none;
	background-color: rgb(249, 153, 64);
	padding: 10px;
	border-top: 5px solid orangered;
	text-align: center;
}
#resultLose{
	text-align:center ;
	margin-top:10px;
	display: none;
	background-color: rgba(254, 101, 84, 0.7);
	padding: 10px;
	border-top: 5px solid red;
}
.trAgin{
	padding: 10px;
	font-size: 1.2em;
	border: 4px solid red;
	background-color: lightgreen;
	cursor: pointer;
	font-weight: 700;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	
}