*{
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background-color: lightgoldenrodyellow;
}
.header{
	text-align: center;
	border: 5px solid black;
	border-radius: 10px;
	color: antiquewhite;
	background-color: darkslategrey;
}
span{
	color: yellow;
	text-decoration: underline;
	font-weight: bolder;
}
.main{
	margin-top: 30px;
	text-align: center;
}
.main input[type="text"]{
	font-size: 3em;
	text-align:center;
	border: 5px solid skyblue;
	border-radius: 10px;
	transition: all 0.5s;
	margin-bottom: 20px;
	
}
.main input[type="text"]:focus{
	background-color: lightblue;
	box-shadow: 0 7px blue;

}
.main .btn{
	margin-top: 10px;
	font-size: 1.5em;
	background-color: green;
	font-weight: bolder;
	color: white;
	cursor: pointer;
	transition: all 0.5s;
	border: 3px solid blue;
	border-radius:10px ;
	padding: 10px;
}
.btn:hover{
	font-size: 1.6em;
}
.main .clr{
	background-color: red;
	font-weight: bolder;
	color: yellow;

}
.main .tbl1, .tda{
	border:5px solid yellow ;
	padding: 30px;
}
#buffer{
	border: 7px solid green;
	border-radius: 10px;
	padding: 15px;
	background-color: burlywood;
	box-shadow: 0 0 20px goldenrod;
}
.output {
	margin-left: auto;
	margin-right: auto;
	width: 70vw;
	margin-top: 20px;
	padding: 10px;
	background-color: lightsalmon;
	border: 5px solid salmon;
	border-radius: 10px;
	
}
.output table{
	font-size: 5em;
}
#spec{
	margin-top: 30px;
}
#errbox{
	display: none;
	text-align: center;
	background-color: red;
	margin-top: 10px;
	padding: 25px;
	font-size: 2em;
}